/* PAGE BACKGROUND */

body {
    background-color: #BAE5F9;

}


/* HEADER */

.header {
    display: block;
    position: relative;
    text-align: center;  
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    letter-spacing: 3px;
    color: #213A1B;
    text-shadow: 1px 1px 4px #7b7b7b;
}

/* BODY */

.aboutNationalParks {
    display: block;
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #213A1B;
}

.over400Places {
    display: block;
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #6F4930;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #7b7b7b;
    font-size: 1.7em;
}

#button {
    display: block;
    position: relative;
    text-align: center;
}

.submit {
    border-radius: 40px;
    background: #56903A;
    color: #fff;
    box-shadow: 1px 1px 4px #213A1B;
    transition: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px 40px;
    margin: 15px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline: none;
}

/* POSTCARD DISPLAY */

.postcardContainer{
    float: none;
    margin-right: auto;
    margin-left: auto;
}


/*POSTCARD FRONT*/

.postcardFront {
    display: block;
    position: relative;
    transform: rotate(-7deg);
    width: 640px;
    height: 398px;
    margin-top: 30px;
    background-color: whitesmoke;
    box-shadow: 7px 7px 20px #555;
}

.postcardImage {
    display: block;
    position: absolute;
    text-align: center;
    width: 630px;
    height: 388px;
    background-size: 500px;
    margin: 5px;
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
    padding: 15px 27px;
}

.postcardText {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: absolute;
    left: 0;
    padding-left: 27px;
    bottom: 0;
    padding-bottom: 15px;
    right: 140px;
    z-index: 2;
}

p {
    margin: 0;
}

/*END POSTCARD FRONT*/


/*POSTCARD BACK*/

.postcardBack {
    display: block;
    position: relative;
    transform: rotate(5deg);
    width: 640px;
    height: 398px;
    margin-left: 350px;
    margin-right: auto;
    background: url('https://developer.mozilla.org/files/4151/background.jpg');
    /*img from: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Styling_HTML_forms */
    background-size: 650px;
    border: 2px solid #ccc;
    box-shadow: 7px 7px 20px #555;
}

.parkName {
    font-family: "Homemade Apple";
    font-size: .9em;
    right: 25px;
    top: 170px;
    position: absolute;
}

.parkLocation {
    font-family: "Homemade Apple";
    font-size: .9em;
    right: 25px;
    top: 215px;
    position: absolute;
}

.parkWebsite {
    font-family: "Homemade Apple";
    font-size: .7em;
    right: 20px;
    top: 265px;
    position: absolute;
}

.aboutPark {
    display: block;
    position: absolute;
    font-family: "Homemade Apple";
    text-align: center;
    font-size: .75em;
    left: 20px;
    right: 325px;
    top: 110px;
    background: transparent;
    letter-spacing: 3px;
    line-height: 1.5em;
}


/* FOOTER */



#footer {
    font-family: 'Dancing Script', cursive;
    display: block;
    position: relative;
    text-align: center;
    font-size: 3em;
    color: #6F4930;
    text-shadow: 1px 1px 4px #7b7b7b;
}



/* THINGS TO-DO LIST */
/* 
#thingsList {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: whitesmoke;
    box-shadow: 7px 7px 20px #555;
}

#itinerary {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.activitesList {
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    list-style-type: none;
    font-weight: light;
} */

